{% extends "ecom/customer_base.html" %}
{% load widget_tweaks %}
{% block content %}
<div class="container">
   <div class="row mt-5">
        <div class="col-md-6 mx-auto text-white bg-primary text-center">
          <h2> Email </h2>
          <p>simran@gmail.com</p>
        </div>
   </div>
   <div class="row mt-5">
        <div class="col-md-6 mx-auto bg-warning text-center">
          <h2> Contact No</h2>
          <p>999999999</p>
        </div>
     </div>
</div>
{% endblock %}
